:root {
  --cobalt-blue: #0062eb;
  --dark-slate: #355685;
  --impressively-light-teal: #00ddeb;
  --blood-orange: #b82412;
  --mango-orange: #ed693b;

  --bg-color: #e9ecf2;
  --text-color: #333;
  --link-color: #0062eb;
  --heading-color: #222;
  --caption-color: #777;
  --accent-color: #aaa;

  --spacer: clamp(2.827rem, 7vw, 5.653rem);
}

@media (prefers-color-scheme: dark) {
  :root {
    --cobalt-blue: #1476ff;

    --bg-color: #12151b;
    --text-color: #ccc;
    --link-color: #fff;
    --heading-color: #eee;
    --caption-color: #999;
    --accent-color: #333;
  }
}

/* Baseline */

* {
  box-sizing: border-box;
  font-family: "Shippori Mincho", serif;
  margin: 0;
  padding: 0;
  line-height: 1.65;
}

/* TODO: Revisit scrolling styles, test on mobile */
body {
  font-size: 100%;
  color: var(--text-color);
  background-color: var(--bg-color);
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

article {
  scroll-snap-align: start;
}

section {
  padding: var(--spacer);
}

footer {
  clip-path: polygon(0.75rem 0, 100% 0, 100% 100%, 0 100%, 0 0.75rem);
  background-color: var(--bg-color);
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.5rem 1rem;
}

/* Typography */
p {
  margin-bottom: 1rem;
  max-width: 50ch;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Shippori Mincho", serif;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1rem;
  color: var(--heading-color);
}

h1 {
  margin-top: 0;
  font-size: 5.653rem;
  font-size: clamp(2.827rem, 7vw, 5.653rem);
}

h2 {
  font-size: 3.998rem;
  font-size: clamp(1.999rem, 4.95vw, 3.998rem);
}

h3 {
  font-size: 2.827rem;
}

h4 {
  font-size: 1.999rem;
}

h5 {
  font-size: 1.414rem;
}

a {
  color: var(--link-color);
}

svg {
  height: 1.5em;
  width: 1.5em;
}

/* Tables */
table {
  margin: 2rem 0;
  padding: 1rem 0;
  border-top: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

th,
td {
  padding: 0.5rem 2rem;
}

th:first-child,
td:first-child {
  padding-inline-start: 0;
}

th:last-child,
td:last-child {
  padding-inline-end: 0;
}

th {
  color: var(--caption-color);
  text-align: start;
  font-weight: 400;
}

td {
  color: var(--heading-color);
  font-size: 1.414rem;
  font-weight: 700;
}

/* Hero */
[class*="hero-"] {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.hero-1 {
  --bg-color: var(--cobalt-blue);
  --text-color: #eee;
  --link-color: #fff;
  --heading-color: #fff;
}

.hero-2 {
  --bg-color: var(--dark-slate);
  --text-color: #eee;
  --link-color: #fff;
  --heading-color: #fff;
}

.hero-3 {
  --bg-color: var(--mango-orange);
  --text-color: #eee;
  --link-color: #fff;
  --heading-color: #fff;
}
