/* Baseline */
* {
  box-sizing: border-box;
  font-family: "Shippori Mincho", serif;
  margin: 0;
  padding: 0;
  line-height: 1.65;
}

/* TODO: Revisit scrolling styles, test on mobile */
html,
body {
  font-size: 100%;
  color: var(--text-color);
  background-color: var(--bg-color);
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

article {
  scroll-snap-align: start;
}

section {
  padding: var(--spacer);
}

footer {
  clip-path: polygon(0.75rem 0, 100% 0, 100% 100%, 0 100%, 0 0.75rem);
  background-color: var(--bg-color);
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0.5rem 1rem;
}

/* Typography */
p {
  margin-bottom: 1rem;
  max-width: 50ch;
}

h1,
h2,
h3,
h4,
h5 {
  position: relative;
  font-family: "Shippori Mincho", serif;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 1rem;
  color: var(--heading-color);
}

h1 {
  margin-top: 0;
  font-size: 5.653rem;
  font-size: var(--font-size--h1);
}

h2 {
  font-size: 3.998rem;
  font-size: var(--font-size--h2);
}

h3 {
  font-size: 2.827rem;
  font-size: var(--font-size--h3);
}

h4 {
  font-size: 1.999rem;
  font-size: var(--font-size--h4);
}

h5 {
  font-size: 1.414rem;
  font-size: var(--font-size--h5);
}

a {
  color: var(--link-color);
}

svg {
  height: var(--icon-size);
  width: var(--icon-size);
}

button {
  cursor: pointer;
  border: none;
}

/* Tables */
.table-wrapper {
  margin: 2rem calc(var(--spacer) * -1);
  border-top: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  width: calc(100% + var(--spacer) * 2);
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

table {
  width: 100%;
  padding: 1rem var(--spacer);
}

th,
td {
  width: max-content;
  white-space: nowrap;
  padding: 0.5rem 2rem;
}

th:first-child,
td:first-child {
  padding-inline-start: 0;
}

th:last-child,
td:last-child {
  padding-inline-end: 0;
}

th {
  color: var(--caption-color);
  text-align: start;
  font-weight: 400;
}

td {
  color: var(--heading-color);
  font-size: 1.414rem;
  font-size: var(--font-size--h5);
  font-weight: 700;
}

/* Hero */
[class*="hero-"] {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.hero-1 {
  --bg-color: var(--cobalt-blue);
  --text-color: #eee;
  --link-color: #fff;
  --heading-color: #fff;
}

.hero-2 {
  --bg-color: var(--dark-slate);
  --text-color: #eee;
  --link-color: #fff;
  --heading-color: #fff;
}

.hero-3 {
  --bg-color: var(--mango-orange);
  --text-color: #eee;
  --link-color: #fff;
  --heading-color: #fff;
}

/* Components */
.permalink {
  --icon-size: 1.5rem;
  --padding: 0.25rem;

  position: absolute;
  top: 53%; /* Slight visual offset to account for font */
  left: calc((var(--icon-size) + var(--padding) * 3) * -1);
  display: inline-flex;
  padding: var(--padding);
  line-height: 0;
  background-color: rgba(150, 150, 150, 0.1);
  border-radius: 2rem;
  transform: translateY(-50%) translateX(0.25rem);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

:hover > .permalink {
  transform: translateY(-50%) translateX(0);
  opacity: 1;
}
